h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
tr,
td,
body,
* {
  font-family: 'Outfit', sans-serif;
}

.text-center {
  text-align: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li a {
  margin: 0 5px;
}
.login {
  text-align: right !important;
}
.crud-wrapper-area {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* margin-top: 20%; */
}

section.login-area-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a.login {
  font-weight: 700;
  color: #000;
  text-decoration: underline;
}
a.login:hover,
a.login:focus {
  color: #9b4dca;
}
